@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  color: #000000;
  background: #f4f4f4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-height {
  height: calc(100vh - 75px);
}
